<li id="list-<%= list.id %>">
  <span class="name">
    Name: <%= list.name %>
    # of items: 0
  </span>
  <span class="timestamp">
    Created <%= time_ago_in_words(list.created_at) %> ago.
    <% if current_user?(list.user) %>
      <%= link_to "delete", list, method: :delete,
                                       data: { confirm: "Delete this list?" } %>
    <% end %>
  </span>
</li>