<% provide(:title, 'Edit List') %>
<h1>Edit List</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@list) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Update List", class: "btn btn-primary" %>
        <%= link_to "Dashboard", root_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
