<% provide(:title, "Create List") %>
<h1>Create List</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@list) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>