<% provide(:title, @list.name) %>
<div class="row">
  <div class="col-md-12">
    <section>
      <h1>
        List: <%= @list.name %>
      </h1>
    </section>
    <section>
      <% if @list.items.any? %>
        <h3>This List's Items (<%= @list.items.count %>)</h3>
          <table class="table table-bordered">
            <tr><th>Name</th><th>Due Date</th><th>Priority</th><th>Category</th><th>List</th><th>Time</th></tr>
            <%= render @list.items %>
          </table>
      <% end %>
    </section>
    <section>
        <%= link_to "Edit", edit_list_path(@list), class: "btn btn-success" %> 
        <%= link_to "Dashboard", root_path, class: "btn btn-success" %> 
    </section>
  </div>
</div>
