<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Gettin' Things Done is a website to help you get things done.
</p>
<p>
    You can create as many lists of todo items as you want. Each item can have a due date, a priority, and a category.
    You can also set up reminder notifications when due dates are approaching.    
</p>
