<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="item_form">
        <%= render 'shared/item_form' %>
      </section>
      <section class="lists">
        <h3>Your Lists</h3>
        <% if @user.lists.any? %>
          <% @user.lists.each do |list| %>
            <div class="list_link">
              <%= link_to list.name, list %>
            </div>
          <% end %>
        <% end %>
        <div class="other">
          <%= link_to "Create List", new_list_path, :class => "btn btn-med btn-primary" %>
        </div>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="item-buttons">
        <%= link_to "Show Only Incomplete Items", root_path(show_all: "false"), :class => "btn btn-sm btn-success" %>
        <%= link_to "Show All Items", root_path(show_all: "true"), :class => "btn btn-sm btn-success" %>
      </div>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to Gettin' Things Done</h1>

  <h2>
    This is the place to get organized and get things done.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Features", about_path, class: "btn btn-lg btn-default" %>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Unlimited Lists</h3>
  </div>
    <div class="col-md-4">
    <h3>Notifications</h3>
  </div>
  <div class="col-md-4">
    <h3>Categories And Due Dates</h3>
  </div>
</div>

<% end %>
