<% if @feed_items.any? %>
  <table class="table table-bordered">
    <tr><th>Item Details</th><th>Due Date</th><th>Priority</th><th>Category</th><th>List</th><th>Actions</th></tr>
    <%= render @feed_items %>
  </table>
  <%= will_paginate @feed_items %>
<% end %>