<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new todo item..." %>
  </div>
  <%= f.label :category %>
  <div class="field">
    <%= f.text_field :category %>
  </div>
  <%= f.label :list %>
  <div class="field">
    <%= f.collection_select(:list_id, @current_user.lists, :id, :name) %>
  </div>
  <%= f.label :priority %>
  <div class="field">
    <%= f.select(:priority, ["Low", "Medium", "High"]) %>
  </div>
  <%= f.label :due_date %>
  <div class="field">
    <%= f.date_field :due_date %>
  </div>
  <%= f.submit "Create Todo Item", class: "btn btn-primary" %>
<% end %>

