<tr id="item-<%= item.id %>">
  <td><%= item.content %> (Created <%= time_ago_in_words(item.created_at) %> ago.)</td>
  <td><%= item.due_date %></td>
  <td><%= item.priority %></td>
  <td><%= item.category %></td>
  <td><%= link_to item.list.name, list_path(item.list) %></td>
  <td>
      
      <% if current_user?(item.list.user) && !item.completed %>
              <%= form_for(item,
               html: { method: :patch },
               remote: true) do |f| %>
                   <div><%= hidden_field_tag :item_id, item.id %></div>
                  <button type="submit" class="btn btn-sm btn-default">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                      
            <% end %>
        <% end %>
      <% if current_user?(item.list.user) %>
        <%= link_to [item, class: "btn btn-sm btn-warning", method: :delete,
                                         data: { confirm: "Delete this item?" }] do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% end %>
        
      <% end %>
  </td>
</tr>